@model TinyHub.ViewModels.RegisterViewModel
@section scripts
{
    <link href="~/css/login.css" rel="stylesheet" />
}

<body class="main-banner center-block">
    <div class="container">
        <div class="card card-container">
            <img id="profile-img" class="profile-img-card" src="~/images/user.png"/>
            <form class="form-signin" Method="post" asp-antiforgery="true">
                <span id="reauth-email" class="reauth-email"></span>
                <input asp-for="@Model.Username" type="text" id="registerUsername" class="form-control" placeholder="Username" required autofocus>
                <input asp-for="@Model.Password" type="password" id="registerPassword" class="form-control" placeholder="Password" required autofocus>
                <input asp-for="@Model.Email" type="text" id="registerEmail" class="form-control" placeholder="E-mail" required autofocus>
                <button class="btn btn-lg btn-success btn-block btn-signin" type="submit">Register</button>
            </form>
        </div>
    </div>
</body>