@{
    ViewData["Title"] = "Contact";
}
<body class="main-banner center-block">
<div class="container">

    <h2 style="color: #fff">Adrian Jagodziński</h2>

    <address style="color: #fff">
        <strong>email:</strong> <a href="mailto:adrianjago95@gmail.com">adrianjago95@gmail.com</a>
    </address>
</div>
</body>
