@{
    ViewData["Title"] = "Home Page";
}

<body class="main-banner center-block">
    <h1 class="text-center" style="color: #b3d1e0;">Welcome to the <span class="bigger-400">TinyHub</span></h1>
    <span style="color: #b3d1e0; font-size: 350px; margin-left: 35%">&#60&#47&#62</span>
</body>



